<div class="sidebar">
  <a class="noHover"><img src="https://img.freepik.com/free-vector/abstract-logo-flame-shape_1043-44.jpg?w=740&t=st=1668865042~exp=1668865642~hmac=52c9590537b6d273d83518c8abd0f9e2e4588e8f3703331ee4730ea5a500cc07" alt="Image" style="height: 35px"> Company</a>
  <a routerLink="/home" routerLinkActive='active'>Dashboard</a>
  <a routerLink="/members" routerLinkActive='active'>Members</a>
  <a >Approvals</a>
  <a >Contact Us</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
